#GCP PARAMETERS
################
#PROJECT=dev1-techsolut-playground-1f1c
#ZONE=europe-west2-a
#SUBNET=bms-london-db
#Do no change below if using sandbox
PROJECT=dbapoc-289518
ZONE=us-west2-b
SUBNET=dbapoc1-subnet-west

#GCE INSTANCE PARAMETERS
#########################
MACHINE_TYPE=n1-standard-8
MACHINE_IMAGE=oracle-ha-19c-jul2020ru-2

#STORAGE PARAMETERS
####################
## Provide lun size for ASM diskgroups. Only in GB without the G.
#Leave it to the default values already set
REG_DATA_LUN_SIZE=20
RECO_LUN_SIZE=10
REDOLOG_LUN_SIZE=10
TEMP_LUN_SIZE=10

#DATABASE PARAMETERS
#####################
APP_PREFIX=DG
TEMPLATE=SMALL
DB_NAME=gcetest
SERVICE_NAME=gcetest
SGA_TARGET=10G
EXPECTED_DB_SIZE=30
